{% extends "account/email/base.html" %}
{% load account %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
        {% user_display user as user_display %}

        <h2 class="card-title text-center">Reset password</h2>

        <div class="card-body">

<p>{% blocktranslate %}Hello You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
<p>{% translate "Please go to the following page and choose a new password:" %} </p>.
{% block reset_link %}
<a  class="link link link-primary  text-info  " href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</a>
{% endblock %}.</p>
{% translate "Thanks for using our site!" %}
{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}
        
{% endautoescape %}{% endblock %}
</div>
