{% extends "account/email/base.html" %}
{% load account %}
{% load i18n %}

{% block content %}
    {% autoescape off %}
        {% user_display user as user_display %}

        <div class="card-body">

            <p>You're receiving this e-mail because user
                {{ user_display }}
                has given your e-mail address to register an account on
                {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}{{ site_domain }}{% endblocktrans %}
                To confirm this is correct, go to
                <a class="link link link-primary  text-info  " href="{{ activate_url }}">{{ activate_url }}</a>
                .</p>

        </div>


    {% endautoescape %}
{% endblock %}
